@{
    ViewData["Title"] = "ABC Retailing - Home";
}
<div>
    <br />
    <br />
    <br />
    <br />
    <h2 class="display-4" style="color: #333; text-align: center; font-family: 'Century Gothic', sans-serif; font-weight: bold;">
        ABC the Best Deals
    </h2>
    <p class="lead" style="color: #555; text-align: center; font-family: 'Century Gothic', sans-serif;">
        Explore a wide range of products and exclusive offers just for you.
    </p>

    <div style="text-align: center;">
        <a href="@Url.Action("Index", "Product")" class="btn btn-primary btn-lg" style="background-color: #5eedab; border-color: #5eedab;">
            <!-- Button linking to the products page(catalogue) -->
            Shop Now
        </a>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <img src="https://th.bing.com/th/id/R.682e2ec72958ffd7b475ad1663ac35bd?rik=IsSvqQ%2f%2bMBjnOA&riu=http%3a%2f%2fmedia.giphy.com%2fmedia%2fIf8MrRlW4yOmQ%2fgiphy.gif&ehk=2XB8Fwe9G495%2fxsOCg%2bCU2ZUSif1Bj3EzMXOjHKwV4w%3d&risl=&pid=ImgRaw&r=0" alt="Promotional Image" style="max-width: 350px; height: auto;">
    </div>
</div>
